<!DOCTYPE html>
<!-- <html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout"> -->
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::main})}">

<head>
    <title>Dashboard - Donaskuy</title>
</head>
<main>
    <h3>Riwayat Donasi Anda</h3>
    <table border="1" cellpadding="5">
        <tr>
            <th>Program</th>
            <th>Nominal</th>
            <th>Status Pembayaran</th>
            <th>Pesan</th>
            <th>Tanggal</th>
        </tr>
        <tr th:each="don : ${myDonations}">
            <td th:text="${don.donationProgram.title}"></td>
            <td th:text="${don.amount}"></td>
            <td th:text="${don.paymentStatus}"></td>
            <td th:text="${don.message}"></td>
            <td th:text="${#temporals.format(don.donatedAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
        <tr th:if="${#lists.isEmpty(myDonations)}">
            <td colspan="5" style="text-align:center;">Belum ada donasi</td>
        </tr>
    </table>
</main>

</html>